@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: "inter";
		font-weight: normal;
		font-style: normal;
		src: url("../assets/fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype");
	}
}
